#participant-detail {
  h1 {
    font-size: xx-large;
    margin: 15px 0;
  }
  
  h2 {
    font-size: x-large;
    margin: 10px 0;
  }
  
  h3 {
    font-size: large;
    margin: 5px 0;
  }
  
  .participant-name {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .home-button {
    display: flex;
    justify-content: flex-end;
  }

  .total-record {
    margin-bottom: 50px;
  }
}
