// common
@import "./common/_reset.scss";
@import "./common/_variables.scss";
@import "./common/layout";

// pages
@import "./pages/home/_home.scss";
@import "./pages/channel/_channel-create.scss";
@import "./pages/channel/_channel-detail.scss";
@import "./pages/record/_record-create.scss";
@import "./pages/participant/_participant-create.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
